<h3 class="text-center margin-top-30">Get a Free Quote</h3>
<form role="form" action="{{ site.oswweb-mail-url }}/fenlinmusicfountain-com-products-feedback.php" method="POST">
  <input type="text" name="url" class="form-control hidden" value="{{ site.url }}{{ page.url }}" readonly>
  <h4 class="text-center margin-top-30">Your Name</h4>
  <input type="text" name="name" class="form-control" placeholder="Enter your full name">
  <h4 class="text-center margin-top-30">Email Address</h4>
  <input type="email" name="email" class="form-control" placeholder="Enter your email">
  <h4 class="text-center margin-top-30">Your Message</h4>
  <textarea name="xinxi" class="form-control" cols="30" rows="3" placeholder="Your Message"></textarea>
  <button type="submit" class="btn btn-primary">Send Message</button>
</form>