---
layout: pages
---
<article class="entry-post entry-post-single">
  <header class="entry-header">
    <h1 class="entry-title text-center">{{ page.title }}</h1>
  </header>
  <div class="content">
    <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-1.jpg"><img src="/images/products/{{ page.image }}-1.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
    {{ content }}
    <div class="row">{% if page.proimg == 'three' %}
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-2.jpg"><img src="/images/products/{{ page.image }}-2.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-3.jpg"><img src="/images/products/{{ page.image }}-3.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>{% endif %}{% if page.proimg == 'four' %}
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-2.jpg"><img src="/images/products/{{ page.image }}-2.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-3.jpg"><img src="/images/products/{{ page.image }}-3.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-4.jpg"><img src="/images/products/{{ page.image }}-4.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>{% endif %}{% if page.proimg == 'six' %}
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-2.jpg"><img src="/images/products/{{ page.image }}-2.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-3.jpg"><img src="/images/products/{{ page.image }}-3.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-4.jpg"><img src="/images/products/{{ page.image }}-4.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-5.jpg"><img src="/images/products/{{ page.image }}-5.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-6.jpg"><img src="/images/products/{{ page.image }}-6.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>{% endif %}{% if page.proimg == 'seven' %}
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-2.jpg"><img src="/images/products/{{ page.image }}-2.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-3.jpg"><img src="/images/products/{{ page.image }}-3.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-4.jpg"><img src="/images/products/{{ page.image }}-4.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-5.jpg"><img src="/images/products/{{ page.image }}-5.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-6.jpg"><img src="/images/products/{{ page.image }}-6.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-7.jpg"><img src="/images/products/{{ page.image }}-7.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>{% endif %}{% if page.proimg == 'eight' %}
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-2.jpg"><img src="/images/products/{{ page.image }}-2.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-3.jpg"><img src="/images/products/{{ page.image }}-3.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-4.jpg"><img src="/images/products/{{ page.image }}-4.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-5.jpg"><img src="/images/products/{{ page.image }}-5.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-6.jpg"><img src="/images/products/{{ page.image }}-6.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-7.jpg"><img src="/images/products/{{ page.image }}-7.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-8.jpg"><img src="/images/products/{{ page.image }}-8.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>{% endif %}{% if page.proimg == 'nine' %}
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-2.jpg"><img src="/images/products/{{ page.image }}-2.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-3.jpg"><img src="/images/products/{{ page.image }}-3.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-4.jpg"><img src="/images/products/{{ page.image }}-4.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-5.jpg"><img src="/images/products/{{ page.image }}-5.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-6.jpg"><img src="/images/products/{{ page.image }}-6.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-7.jpg"><img src="/images/products/{{ page.image }}-7.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-8.jpg"><img src="/images/products/{{ page.image }}-8.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-9.jpg"><img src="/images/products/{{ page.image }}-9.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>{% endif %}{% if page.proimg == 'ten' %}
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-2.jpg"><img src="/images/products/{{ page.image }}-2.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-3.jpg"><img src="/images/products/{{ page.image }}-3.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-4.jpg"><img src="/images/products/{{ page.image }}-4.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-5.jpg"><img src="/images/products/{{ page.image }}-5.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-6.jpg"><img src="/images/products/{{ page.image }}-6.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-7.jpg"><img src="/images/products/{{ page.image }}-7.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-8.jpg"><img src="/images/products/{{ page.image }}-8.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-9.jpg"><img src="/images/products/{{ page.image }}-9.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-10.jpg"><img src="/images/products/{{ page.image }}-110.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>{% endif %}{% if page.proimg == 'eleven' %}
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-2.jpg"><img src="/images/products/{{ page.image }}-2.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-3.jpg"><img src="/images/products/{{ page.image }}-3.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-4.jpg"><img src="/images/products/{{ page.image }}-4.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-5.jpg"><img src="/images/products/{{ page.image }}-5.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-6.jpg"><img src="/images/products/{{ page.image }}-6.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-7.jpg"><img src="/images/products/{{ page.image }}-7.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-8.jpg"><img src="/images/products/{{ page.image }}-8.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-9.jpg"><img src="/images/products/{{ page.image }}-9.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-10.jpg"><img src="/images/products/{{ page.image }}-10.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-11.jpg"><img src="/images/products/{{ page.image }}-11.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>{% endif %}{% if page.proimg == 'thirteen' %}
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-2.jpg"><img src="/images/products/{{ page.image }}-2.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-3.jpg"><img src="/images/products/{{ page.image }}-3.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-4.jpg"><img src="/images/products/{{ page.image }}-4.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-5.jpg"><img src="/images/products/{{ page.image }}-5.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-6.jpg"><img src="/images/products/{{ page.image }}-6.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-7.jpg"><img src="/images/products/{{ page.image }}-7.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-8.jpg"><img src="/images/products/{{ page.image }}-8.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-9.jpg"><img src="/images/products/{{ page.image }}-9.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-10.jpg"><img src="/images/products/{{ page.image }}-10.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-11.jpg"><img src="/images/products/{{ page.image }}-11.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-12.jpg"><img src="/images/products/{{ page.image }}-12.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a data-fancybox="{{ page.title }}" data-caption="{{ page.title }}" href="/images/products/{{ page.image }}-13.jpg"><img src="/images/products/{{ page.image }}-13.jpg" class="img-responsive center-block img-thumbnail margin-bottom-30" alt="{{ page.title }}"></a>
      </div>{% endif %}
    </div>{% if page.video == 'wu' %}{% else %}
    <div class="col-md-12">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/{{ page.video }}"></iframe>
      </div>
    </div>{% endif %}
    {% include products-list.html %}
  </div>
</article>